@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Oswald", sans-serif;
}

.footnote {
  font-size: 0.8em;
  color: gray;
  display: inline-block;
  margin-left: 5px;
}

.container-top {
    background-color: burlywood;
    width: 70%;
    height: 40%;
    text-align: center;
    align-content: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.container-bottom {
    background-color: #AABCCC;
    width: 70%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container-bottom p {
    color: black;
    font-weight: 600;
    font-size: large;
}

.container-top p {
    font-weight: 600;
    font-size: larger;
}

/* CSS kodu */
#distance {
    border: 2px solid #643a15;
    padding: 10px;
    font-size: 18px;
    outline: none;
    font-weight: 800;
    width: 120px;
    height: 45px;
    text-align: center;
    color: #643a15;
}

#distance::placeholder {
    color: gray;
    font-size: 18px;
    font-style: italic;
    text-align: center;
}

#convert input[type="submit"] {
    background-color: #5e3e22;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
    height: 45px;
    width: 120px;
}

#convert input[type="submit"]:hover {
    background-color: #855d3b;
}

#convert input[type="submit"]:active {
    transform: scale(0.95);
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#answerP {
    letter-spacing: 1.5px;
}

/* Responsive dizayn kısmı */

@media (max-width: 768px) {
    .container-top, .container-bottom {
        width: 90%;
        padding: 15px;
    }

    #distance, #convert input[type="submit"] {
        width: 100%;
        font-size: 16px;
    }

    form {
        flex-direction: column;
        gap: 45px;
    }

    .container-bottom p {
        font-size: medium;
    }

    .container-top p {
        font-size: large;
    }

    h3 {
        text-align: center;
    }

    #designword {
        margin-top: 30px;
    }
}

@media (max-width: 480px) {
    .container-top, .container-bottom {
        width: 100%;
        padding: 10px;
        margin-bottom: 25px;
    }

    #distance, #convert input[type="submit"] {
        font-size: 14px;
        height: 40px;
    }

    .container-bottom p {
        font-size: small;
    }

    .container-top p {
        font-size: medium;
    }

    .container-bottom {
       margin-top: 20px;
    }

    #distance {
        margin-top: -8px;
    }

    #convert input[type="submit"] {
        margin-top: 10px;
    }

    h3 {
        text-align: center;
    }

    #designword {
        margin-top: 30px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    h3 {
        text-align: center;
    }

    .container-bottom {
        margin-top: 0;
    }

    #convert input[type="submit"] {
        margin-top: 100px;
    }

    #designword {
        margin-top: 50px;
    }
}

@media (min-width: 481px) and (max-width: 531px) {
    

    #convert input[type="submit"] {
        margin-top: 100px;
    }

    #designword {
        margin-top: 70px;
    }
}
